* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: neueHassDisplayBold;
    src: url('fonts/neueHassDisplay/NeueHaasDisplayBold.ttf');
}

@font-face {
    font-family: neueHassDisplayMed;
    src: url('fonts/neueHassDisplay/NeueHaasDisplayMediu.ttf');
}

@font-face {
    font-family: neueHassDisplayThin;
    src: url('fonts/neueHassDisplay/NeueHaasDisplayLight.ttf');
}

@font-face {
    font-family: neueHassDisplayThin;
    src: url('fonts/neueHassDisplay/');
}

body {
    background-color: #000;
}

.bg-image {
    width: 100%;
    height: 100vh;
    background-color: #000;
    background-image: url("img/hero\ imge\ copy\ 2.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.bg-black {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.911) 2%, rgba(0, 0, 0, 0.651)8%);
    position: absolute;
}

.nav-info {
    width: 100%;
    height: 100vh;
    background-color: #060606;
    position: fixed;
    top: -100%;
    transition: 0.3s;
    z-index: 8;
    display: flex;
    flex-direction: column;
}

.nav-line {
    width: 2px;
    height: 400px;
    background-color: #40B4E5;
    margin-right: 50px;
}

.nav-content {
    display: flex;
    padding: 40px 100px;
}

.nav-buttons {
    width: 50%;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.nav-btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-buttons .nav-btn {
    width: 100%;
    color: #403F3F;
    font-size: 50px;
    font-weight: 600;
    cursor: pointer;
    font-family: neueHassDisplayBold;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nav-buttons .active {
    color: white;
}

.isActive {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    display: none;
    align-items: center;
    justify-content: center;
}

.nav-list {
    width: 50%;
}

.nav-links {
    width: 100%;
    display: none;
}

.nav-links ul li {
    list-style: none;
    margin-bottom: 20px;
}

.nav-links ul li a {
    color: white;
    font-family: neueHassDisplayThin;
    text-decoration: none;
    font-size: 38px;
}

.show {
    top: 0px;
}

/* header */
#header {
    background-color: transparent;
}

.nav,
.nav-close {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
}

.logo img {
    width: 150px;
    cursor: pointer;
}

.menu {
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.menu-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.menu-icon p {
    color: white;
    font-weight: 300;
    font-family: neueHassDisplayThin;
    word-spacing: 3px;
    letter-spacing: 1px;
    margin-right: 20px;
}

/* hero content */

.content {
    margin: 80px;
    margin-top: 200px;
    width: 70%;
}

.content h1 {
    color: white;
    font-weight: 900;
    font-size: 50px;
    text-transform: uppercase;
    margin-bottom: 30px;
    font-family: neueHassDisplayBold;
}

.content span {
    color: #49C9FF;
}

.content p {
    color: white;
    font-weight: 300;
    margin-bottom: 50px;
    font-family: neueHassDisplayThin;
    word-spacing: 3px;
    letter-spacing: 1px;
}

.buttons {
    display: flex;
    align-items: center;
    gap: 40px;
}


.break .br-line {
    width: 2px;
    height: 70px;
    background-color: white;
}

.Allbtn {
    width: 250px;
    height: 40px;
    padding: 20px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 0;
}

.buttons .button-one button {}

.buttons p {
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 10px;
    font-size: 13px;
    word-spacing: 0px;
    letter-spacing: 2px;
    font-family: neueHassDisplayMed;
    margin-left: 5px;
}

.buttons-two .btn-two-con {
    display: flex;
    gap: 20px;
}

.buttons-two .btn-two-con button {
    color: white;
    background-color: #2e5b8591;
    border: 2px solid #3188D0;
}

/* marquee section  */

.marquee {
    background-color: #000;
}

.marquee h1 {
    color: white;
    font-family: neueHassDisplayMed;
    text-align: center;
    padding: 50px 0;
    font-size: 35px;
}

.elem {
    width: 100%;
    position: relative;
    height: 150px;
    background-color: black;
}

.elem .moving {
    width: 100%;
    white-space: nowrap;
    position: absolute;
    top: 0%;
    transition: all ease 0.5s;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.elem .moving .move-in {
    display: flex;
    white-space: nowrap;
    animation-name: move;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    align-items: center;
    justify-content: center;
}

.elem .moving .move-in img,
.elem .moving .move-in .elem-line {
    margin: 0 20px;
    display: inline-block;
}

.elem-line {
    width: 2px;
    height: 70px;
    background-color: #40B4E5;
}


@keyframes move {

    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }

}

/* marquee section end  */

/* card section  */

.card-container {
    width: 100%;
    height: 100vh;
    background-color: black;
    margin-top: 50px;
}

.cards {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    padding: 60px;
}

.card {
    background-image: url('img/steptodown\ 1.png');
    width: 32%;
    height: 500px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    overflow: hidden;
}

.img2 {
    background-image: url('img/steptodown\ 2.png');
}

.img3 {
    background-image: url('img/steptodown\ 3.png');
}

.card-gradient {
    background: linear-gradient(0deg, rgba(18, 18, 116, 0) 65%, rgba(0, 129, 249, 0.849) 100%);
    width: 100%;
    height: 100%;
    position: relative;
    padding: 30px;
}

.card-gradient h2 {
    color: white;
    font-family: neueHassDisplayBold;
    font-size: 30px;
}

.card-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0082F9;
    width: 130px;
    position: absolute;
    bottom: 30px;
    border-radius: 50px;
    padding: 10px 0px;
    cursor: pointer;
}

.card-button button {
    background-color: transparent;
    border: 0;
    color: white;
    font-weight: 500;
    font-size: 13px;
    word-spacing: 0px;
    letter-spacing: 2px;
    font-family: neueHassDisplaythin;
    margin-right: 10px;
}

.card-button img {
    width: 10px;
}

/* video section  */

.video-section {
    width: 100%;
    min-height: 90vh;
    width: 100%;
    padding: 60px;
    padding-top: 0px;
}

.video-section .heading {
    margin-bottom: 30px;
}

.video-section .heading span {
    color: white;
    font-size: 50px;
    font-family: neueHassDisplayBold;
    text-transform: uppercase;
}

.video-section .heading img {
    width: 140px;
    height: 40px;
}

.video-section p {
    margin-bottom: 50px;
    color: white;
    font-family: neueHassDisplayThin;
    letter-spacing: 1px;
    word-spacing: 1px;
}

.video {
    width: 100%;
    position: relative;
}

.video-btn-img {
    position: absolute;
    bottom: -500;
}

.video-1 {
    position: relative;
}

.video img {
    width: 100%;

}



.play-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0082F9;
    width: 130px;
    border-radius: 50px;
    padding: 10px 0px;
    cursor: pointer;
    position: absolute;
    top: 45%;
    left: 45%;
}

.play-btn button {
    background-color: transparent;
    border: 0;
    color: white;
    font-weight: 500;
    font-size: 13px;
    word-spacing: 0px;
    letter-spacing: 2px;
    font-family: neueHassDisplayThin;
    margin-left: 10px;
    cursor: pointer;
}

.play-btn img {
    width: 15px;
    cursor: pointer;
}

/* white and black gradient div  */

.gradient-div {
    width: 100%;
    height: 40vh;
    background: rgb(255, 255, 255);
    background: linear-gradient(0deg, rgba(255, 255, 255, 1) 51%, rgba(0, 0, 0, 1) 90%);
}

/* sticky scroller section  */

.sticky-scroller {
    background-color: white;
    width: 100%;
    min-height: 100vh;
    display: flex;
    padding: 70px;
}

.sticky-scroller .ss-left {
    width: 50%;
}

.sticky-scroller .ss-left h1 {
    font-size: 40px;
    font-family: neueHassDisplayBold;
    text-transform: uppercase;
    color: #252525;
}

.sticky-scroller .ss-left p {
    font-family: neueHassDisplayThin;
}

.sticky-scroller .ss-right {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.sticky-scroller .ss-right img {
    width: 100%;
}

/* blue circle section  */

.circles-section {
    width: 100%;
    height: 100vh;
    background-color: #0082F9;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
}

.circles-section-text {
    padding-left: 60px;
    position: absolute;
    left: 0;
}

.circles-section-text h1 {
    font-size: 40px;
    color: white;
    font-family: neueHassDisplayBold;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.circles-section-text p {
    font-family: neueHassDisplayThin;
    color: white;
    word-spacing: 1px;
    letter-spacing: 1px;
}

.circles {
    width: 70%;
    position: absolute;
    right: 0;
}

.circles img {
    width: 100%;
}

/* states section  */

.states-section {
    width: 100%;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.states-section h1 {
    font-size: 80px;
    color: white;
    font-family: neueHassDisplayBold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.states-section p {
    font-size: 27px;
    color: white;
    font-family: neueHassDisplayThin;
    text-transform: uppercase;
}

.states-section .projects {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.states-section .projects img {
    width: 100%;
    height: 100%;
}

.states-section .projects .pr-text {
    display: flex;
    align-items: center;
    padding: 20px;
}

.states-section .projects .pr-text h1 {
    margin-right: 20px;
    font-size: 90px;
}

.states-section .hiring {
    width: 25%;
    height: 100%;
}

.states-section .hiring img {
    width: 100%;
}

.states-section .hiring .hr-text {
    padding: 100px 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.states-section .clients {
    width: 25%;
    height: 100%;
}

.states-section .clients img {
    width: 100%;
}

.states-section .clients .clients-text {
    padding: 60px 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

/* customer section  */
.customer-section {
    width: 100%;
    min-height: 100vh;
    background-color: #fff;
    padding: 60px;
}

.customer-section .cus-sec-text {
    display: flex;
    align-items: center;
    justify-content: center;
}

.customer-section .cus-sec-text .text-head {
    width: 40%;
    margin: 15px;
}

.customer-section .cus-sec-text .text-head h1 {
    color: #252525;
    font-family: neueHassDisplayBold;
    font-size: 50px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.customer-section .cus-sec-text .text-anchor {
    display: flex;
    align-items: center;
}

.customer-section .cus-sec-text .text-anchor a {
    color: #0082F9;
    text-decoration-color: #0082F9;
    font-family: neueHassDisplayMed;
    letter-spacing: 1px;
    word-spacing: 1px;
    font-size: 18px;
    margin-right: 10px;
}

.customer-section .cus-sec-text .text-box {
    width: 60%;
    padding: 50px 40px;
    padding-bottom: 30px;
    background-color: #0082F9;
    margin: 15px;
    border-radius: 10px;
}

.customer-section .cus-sec-text .text-box h2 {
    color: #fff;
    font-family: neueHassDisplayThin;
    font-weight: 200;
    font-size: 35px;
}

.customer-section .cus-sec-text .text-box p {
    color: #fff;
    font-family: neueHassDisplayThin;
    margin-top: 20px;
    text-align: end;
}

.customer-section .cus-sec-award {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 30px;
}

.customer-section .cus-sec-award h1 {
    color: #252525;
    font-family: neueHassDisplayMed;
    margin-top: 60px;
    margin-bottom: 50px;
}

.customer-section .cus-sec-award .awards {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 0px;
}

.customer-section .cus-sec-award .awards img {
    width: 70px;
}

/* testimonial sec  */

.testimonial {
    display: flex;
    align-items: center;
    justify-content: center;
}