@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* outline: 1px solid red; */
}

@font-face {
    font-family: neueHassDisplayExtraBold;
    src: url('fonts/neueHassDisplay/NeueHaasDisplayBlack.ttf');
}


@font-face {
    font-family: neueHassDisplayBold;
    src: url('fonts/neueHassDisplay/NeueHaasDisplayBold.ttf');
}

@font-face {
    font-family: neueHassDisplayMed;
    src: url('fonts/neueHassDisplay/NeueHaasDisplayMediu.ttf');
}

@font-face {
    font-family: neueHassDisplayThin;
    src: url('fonts/neueHassDisplay/NeueHaasDisplayLight.ttf');
}

@font-face {
    font-family: neueHassDisplayThin;
    src: url('fonts/neueHassDisplay/');
}

.bg-image {
    width: 100%;
    height: 100vh;
    background-color: #000;
    background-image: url("img/hero-image.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.bg-black {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.911) 2%, rgba(0, 0, 0, 0.651)8%);
}

.nav-info {
    width: 100%;
    height: 100vh;
    background-color: #060606;
    position: fixed;
    top: -150%;
    transition: 0.3s;
    z-index: 8;
    display: flex;
    flex-direction: column;
}

.nav-line {
    width: 2px;
    height: 300px;
    background-color: #40B4E5;
    margin-right: 50px;
}

.nav-content {
    display: flex;
    padding: 25px 75px;
}

.nav-buttons {
    width: 50%;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.nav-btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.nav-buttons .nav-btn {
    width: 100%;
    color: #403F3F;
    font-size: 35px;
    font-weight: 600;
    cursor: pointer;
    font-family: neueHassDisplayBold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 1;
}

.nav-buttons .active {
    color: white;
}

.isActive {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    display: none;
    align-items: center;
    justify-content: center;
}

.nav-list {
    width: 48%;
    padding: 0px 5px;
}

.nav-links {
    width: 100%;
    display: none;
}

.nav-links ul li {
    list-style: none;
    margin-bottom: 20px;
}

.nav-links ul li a {
    color: white;
    font-family: neueHassDisplayThin;
    text-decoration: none;
    font-size: 30px;
    line-height: 1;
}

.nav-contact {
    width: 100%;
    text-align: right;
    padding-right: 80px;
}

.nav-contact>* {
    cursor: pointer;
}

.nav-contact a,
.nav-contact p {
    color: white;
    text-decoration: none;
    font-family: neueHassDisplayThin;
}

.nav-contact .number {
    text-decoration: underline;
    text-decoration-color: #fff;
}

.show {
    top: 0px;
}

/* header */
#header {
    background-color: transparent;
}

.nav,
.nav-close {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
}

.logo img {
    width: 130px;
    cursor: pointer;
}

.menu {
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.menu-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.menu-icon p {
    color: white;
    font-weight: 300;
    font-family: neueHassDisplayThin;
    word-spacing: 3px;
    letter-spacing: 1px;
    margin-right: 20px;
}

/* hero content */

.content {
    position: absolute;
    bottom: 10%;
    margin: 0 80px;
}

.content h1 {
    color: white;
    font-weight: 900;
    font-size: 50px;
    text-transform: uppercase;
    margin-bottom: 30px;
    font-family: neueHassDisplayBold;
    max-width: 750px;
}

.content span {
    color: #49C9FF;
}

.content p {
    color: white;
    font-weight: 300;
    margin-bottom: 50px;
    font-family: neueHassDisplayThin;
    word-spacing: 3px;
    letter-spacing: 1px;
}

.buttons {
    display: flex;
    align-items: center;
    gap: 40px;
}


.break .br-line {
    width: 2px;
    height: 70px;
    background-color: white;
}

.Allbtn {
    width: 250px;
    height: 40px;
    padding: 20px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 0;
}

.buttons .button-one button {}

.buttons p {
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 10px;
    font-size: 13px;
    word-spacing: 0px;
    letter-spacing: 2px;
    font-family: neueHassDisplayMed;
    margin-left: 5px;
}

.buttons-two .btn-two-con {
    flex-wrap: wrap;
    display: flex;
    gap: 20px;
}

.buttons-two .btn-two-con button {
    color: white;
    background-color: #2e5b8591;
    border: 2px solid #3188D0;
}

/* marquee section  */

.marquee {
    background-color: #000;
}

.marquee h1 {
    color: white;
    font-family: neueHassDisplayMed;
    text-align: center;
    padding: 50px 0;
    font-size: 35px;
}

.elem {
    width: 100%;
    position: relative;
    height: 150px;
    background-color: black;
}

.elem .moving {
    width: 100%;
    white-space: nowrap;
    position: absolute;
    top: 0%;
    transition: all ease 0.5s;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.elem .moving .move-in {
    display: flex;
    white-space: nowrap;
    animation-name: move;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    align-items: center;
    justify-content: center;
}

.elem .moving .move-in img,
.elem .moving .move-in .elem-line {
    margin: 0 20px;
    display: inline-block;
}

.elem-line {
    width: 2px;
    height: 70px;
    background-color: #40B4E5;
}


@keyframes move {

    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }

}

/* marquee section end  */

/* card section  */

.card-container {
    width: 100%;
    background-color: black;
}

.cards {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding: 60px;
}

.card {
    background-image: url('img/steptodown1.png');
    width: 32%;
    height: 500px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    overflow: hidden;
}

.img2 {
    background-image: url('img/steptodown2.png');
}

.img3 {
    background-image: url('img/steptodown3.png');
}

.card-gradient {
    background: linear-gradient(0deg, rgba(18, 18, 116, 0) 65%, rgba(0, 129, 249, 0.849) 100%);
    width: 100%;
    height: 100%;
    position: relative;
    padding: 30px;
}

.card-gradient h2 {
    color: white;
    font-family: neueHassDisplayBold;
    font-size: 30px;
}

.card-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0082F9;
    width: 130px;
    position: absolute;
    bottom: 30px;
    border-radius: 50px;
    padding: 10px 0px;
    cursor: pointer;
}

.card-button button {
    background-color: transparent;
    border: 0;
    color: white;
    font-weight: 500;
    font-size: 13px;
    word-spacing: 0px;
    letter-spacing: 2px;
    font-family: neueHassDisplaythin;
    margin-right: 10px;
}

.card-button img {
    width: 10px;
}

/* video section  */

.video-section {
    width: 100%;
    padding: 60px;
    padding-top: 0px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 1) 50%, rgba(9, 9, 121, 0) 70%, rgba(255, 255, 255, 1) 100%);
}

.video-section .heading {
    margin-bottom: 30px;
    max-width: 750px;
}

.video-section .heading span {
    color: white;
    font-size: 50px;
    font-family: neueHassDisplayBold;
    text-transform: uppercase;
}

.video-section .heading img {
    width: 140px;
    height: 40px;
}

.video-section p {
    margin-bottom: 50px;
    color: white;
    font-family: neueHassDisplayThin;
    letter-spacing: 1px;
    word-spacing: 1px;
}

.video {
    width: 100%;
    position: relative;
}

.video-1 {
    position: relative;
}

.video img {
    width: 100%;

}

.play-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0082F9;
    width: 130px;
    border-radius: 50px;
    padding: 10px 0px;
    cursor: pointer;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.play-btn button {
    background-color: transparent;
    border: 0;
    color: white;
    font-weight: 500;
    font-size: 13px;
    word-spacing: 0px;
    letter-spacing: 2px;
    font-family: neueHassDisplayThin;
    margin-left: 10px;
    cursor: pointer;
}

.play-btn img {
    width: 15px;
    cursor: pointer;
}

/* white and black gradient div  */

.gradient-div {
    width: 100%;
    height: 40vh;
    background: rgb(255, 255, 255);
    background: linear-gradient(0deg, rgba(255, 255, 255, 1) 51%, rgba(0, 0, 0, 1) 90%);
}

/* sticky scroller section  */

.sticky-scroller {
    background-color: white;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    padding: 70px;
}

.sticky-scroller .ss-left {
    width: 50%;
    height: 250px;
    position: sticky;
    top: 20px;
    margin-right: 100px;
}

.sticky-scroller .ss-left h1 {
    font-size: 40px;
    font-family: neueHassDisplayBold;
    text-transform: uppercase;
    color: #252525;
    margin-top: 50px;
}

.sticky-scroller .ss-left p {
    font-family: neueHassDisplayThin;
    margin-top: 20px;
}

.sticky-scroller .ss-right {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin: 30px 0px;
    align-items: center;
    justify-content: center;
}

.ss-right .ss-right-card img {
    margin-bottom: 20px;
}

.ss-right .ss-right-card {
    width: 80%;
    background-color: white;
    padding: 30px;
    border-radius: 20px;
    font-family: "Roboto", sans-serif;
    filter: drop-shadow(1px 0px 7px #bababa);
}

.ss-right .blue {
    background-color: #cbd9fd;
}

.ss-right .ss-right-card h1 {
    color: #585a61;
    margin-bottom: 30px;
}

.ss-right .ss-right-card p {
    color: #86899f;
    margin-bottom: 40px;
    font-size: 14px;
    font-weight: 500;
}

.ss-right .ss-right-card .ss-right-btn {
    display: flex;
    align-items: center;
    justify-content: left;
}

.ss-right .ss-right-card .ss-right-btn p {
    color: #0082F9;
    margin-bottom: 0px;
    font-size: 16px;
    font-weight: 700;
    margin-right: 10px;
}

.ss-right .ss-right-card .ss-right-btn img {
    margin-bottom: 0;
}

/* .sticky-scroller .ss-right img {
    width: 100%;
} */

/* blue circle section  */

.circles-section {
    width: 100%;
    height: 100vh;
    background-color: #0082F9;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
}

.circles-section-text {
    padding-left: 60px;
    position: absolute;
    left: 0;
}

.circles-section-text h1 {
    font-size: 40px;
    color: white;
    font-family: neueHassDisplayBold;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.circles-section-text p {
    font-family: neueHassDisplayThin;
    color: white;
    word-spacing: 1px;
    letter-spacing: 1px;
}

.circles {
    width: 70%;
    position: absolute;
    right: 0;
}

.circles img {
    width: 100%;
}

/* states section  */

.states-section {
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: center;
    background-color: #000;
}

.states-section h1 {
    font-size: 80px;
    color: white;
    font-family: neueHassDisplayBold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.states-section p {
    font-size: 27px;
    color: white;
    font-family: neueHassDisplayThin;
    text-transform: uppercase;
}

.states-section .projects {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.states-section .projects img {
    width: 100%;
    height: 100%;
}

.states-section .projects .pr-text {
    display: flex;
    align-items: center;
    padding: 20px;
}

.states-section .projects .pr-text h1 {
    margin-right: 20px;
    font-size: 90px;
}

.states-section .hiring {
    width: 25%;
    height: 100%;
}

.states-section .hiring img {
    width: 100%;
}

.states-section .hiring .hr-text {
    padding: 100px 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.states-section .clients {
    width: 25%;
    height: 100%;
}

.states-section .clients img {
    width: 100%;
}

.states-section .clients .clients-text {
    padding: 60px 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

/* customer section  */
.customer-section {
    width: 100%;
    min-height: 100vh;
    background-color: #fff;
    padding: 60px;
}

.customer-section .cus-sec-text {
    display: flex;
    align-items: center;
    justify-content: center;
}

.customer-section .cus-sec-text .text-head {
    width: 40%;
    margin: 15px;
}

.customer-section .cus-sec-text .text-head h1 {
    color: #252525;
    font-family: neueHassDisplayBold;
    font-size: 50px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.customer-section .cus-sec-text .text-anchor {
    display: flex;
    align-items: center;
}

.customer-section .cus-sec-text .text-anchor a {
    color: #0082F9;
    text-decoration-color: #0082F9;
    font-family: neueHassDisplayMed;
    letter-spacing: 1px;
    word-spacing: 1px;
    font-size: 18px;
    margin-right: 10px;
}

.customer-section .cus-sec-text .text-box {
    width: 60%;
    padding: 50px 40px;
    padding-bottom: 30px;
    background-color: #0082F9;
    margin: 15px;
    border-radius: 10px;
}

.customer-section .cus-sec-text .text-box h2 {
    color: #fff;
    font-family: neueHassDisplayThin;
    font-weight: 200;
    font-size: 35px;
}

.customer-section .cus-sec-text .text-box p {
    color: #fff;
    font-family: neueHassDisplayThin;
    margin-top: 20px;
    text-align: end;
}

.customer-section .cus-sec-award {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 30px;
}

.customer-section .cus-sec-award h1 {
    color: #252525;
    font-family: neueHassDisplayMed;
    margin-top: 60px;
    margin-bottom: 50px;
}

.customer-section .cus-sec-award .awards {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.customer-section .cus-sec-award .awards img {
    width: 70px;
}

/* testimonial  */

.testimonial {
    background-color: #161616;
    padding: 50px 50px;
    display: flex;
    font-family: neueHassDisplayThin;
    font-weight: 100;
}

.tes-text {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 30px;
    font-weight: 900;
    font-family: neueHassDisplayBold;
    margin-right: 30px;
}

.swiper-slide {
    display: flex;
    color: white;
    flex-direction: column;
    position: relative;
}

.swiper-arrow {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

/* Lets Talk section  */

.letsTalk {
    background-color: white;
    padding: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.letsTalk p {
    font-family: neueHassDisplayThin;
    font-size: 14px;
    font-weight: 900;
    letter-spacing: 1px;
    word-spacing: 1px;
    margin-bottom: 15px;
}

.letsTalk h1 {
    text-transform: uppercase;
    font-family: neueHassDisplayExtraBold;
    font-size: 40px;
    font-weight: 900;
    color: #252525;
}

.letsTalk .start {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 50px;
}

.letsTalk .start .start-circle {
    background-color: #0082F9;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    bottom: 100%;
    position: relative;
}

.letsTalk .start p {
    position: absolute;
    margin-bottom: 0px;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: neueHassDisplayThin;
    padding: 80px;
    gap: 150px;
    background-color: #000;
}

footer img {
    width: 160px;
    margin-bottom: 20px;
}

footer .fo-blue-txt {
    font-family: neueHassDisplayThin;
    color: #40B4E5;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 40px;
    letter-spacing: 1px;
    word-spacing: 1px;
}

footer .fo-tin-txt {
    font-size: 12px;
    margin-bottom: 0px;
}

footer .rating {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
}

footer p,
footer a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    word-spacing: 2px;
    margin-bottom: 15px;
}

footer .fo-number {
    margin-top: 20px;
}

footer .rating img {
    width: 130px;
    margin-bottom: 0;
}

footer .rating h6 {
    font-size: 20px;
    font-weight: 500;
}

footer .social-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
    margin-bottom: 15px;
}

footer .social-icon img {
    width: 20px;

}

footer .fo-rev {
    margin-bottom: 30px;
}

@media screen and (min-width: 480px) and (max-width:768px) {

    /* nav bar section  */
    .nav,
    .nav-close {
        padding: 20px 20px;
    }

    .menu-icon p {
        margin-right: 10px;
    }

    .menu img {
        width: 50px;
    }

    /* nav bar section  */

    .nav-line {
        height: 400px;
        margin-right: 10px;
    }

    .nav-content {
        padding: 30px 30px;
        padding-top: 120px;
    }

    .nav-buttons {
        width: 50%;
        padding: 0px;
    }

    .nav-btn-container {
        margin-bottom: 10px;
    }

    .nav-buttons .nav-btn {
        font-size: 30px;
    }

    .nav-buttons .active {
        color: white;
    }

    .nav-links ul li {
        margin-bottom: 20px;
    }

    .nav-links ul li a {
        font-size: 25px;
        margin-bottom: 10px;
    }

    .nav-contact {
        width: 100%;
        padding: 15px;
        text-align: right;
        padding-right: 30px;
        margin-bottom: 0px;
        margin-top: 80px;
    }

    /* hero section  */

    /* .content {
        margin: 20px;
        margin-top: 120px;
        width: 80%;
    } */

    .content h1 {
        font-size: 30px;
        margin-bottom: 30px;
    }

    .content p {
        font-size: 16px;
        margin-bottom: 30px;
    }

    .buttons {
        gap: 20px;
        flex-wrap: wrap;
    }

    .Allbtn {
        width: 200px;
    }

    .buttons p {
        font-size: 10px;
        margin-bottom: 15px;
    }

    .buttons-two .btn-two-con {
        flex-wrap: wrap;
        gap: 20px;
    }

    .break .br-line {
        display: none;
    }

    /* marquee section  */

    .marquee h1 {
        color: white;
        font-family: neueHassDisplayMed;
        text-align: center;
        padding: 60px 0;
        font-size: 30px;
    }

    .elem .moving .move-in img,
    .elem .moving .move-in .elem-line {
        margin: 0 10px;
        display: inline-block;
    }

    /* cards container  */

    .cards {
        gap: 15px;
        padding: 15px;
    }

    .card-gradient h2 {
        font-size: 30px;
    }

    .card {
        width: 100%;
        height: 450px;
    }

    /* video section  */

    .video-section {
        text-align: center;
        padding: 15px;
    }

    .video-section .heading {
        margin-bottom: 30px;
    }

    .video-section .heading span {
        font-size: 30px;
    }

    .video-section .heading img {
        width: 100px;
        height: 30px;
        margin-top: 5px;
    }

    .gradient-div {
        display: none;
    }

    /* sticky scroller section  */

    .sticky-scroller {
        display: flex;
        flex-direction: column;
        padding: 20px 20px;
    }

    .sticky-scroller .ss-left {
        width: 100%;
        height: 100%;
        position: static;
        text-align: center;
    }

    .sticky-scroller .ss-right {
        width: 100%;
    }

    .sticky-scroller .ss-left h1 {
        font-size: 30px;
        margin-top: 20px;
    }

    /* blue circle section  */

    .circles-section {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: static;
        padding: 20px;
    }

    .circles-section-text {
        width: 100%;
        padding-left: 0px;
        position: static;
    }

    .circles-section-text h1 {
        font-size: 30px;
        margin-bottom: 0px;
    }

    .circles-section-text p {
        font-family: neueHassDisplayThin;
        color: white;
        word-spacing: 1px;
        letter-spacing: 1px;
    }

    .circles {
        width: 100%;
        position: static;
        right: 0;
    }

    .circles img {
        width: 100%;
    }

    /* states section  */

    .states-section {
        width: 100%;
        flex-direction: column;
    }

    .states-section h1 {
        font-size: 50px;
    }

    .states-section p {
        font-size: 25px;
    }

    .states-section .projects {
        width: 100%;
    }

    .states-section .projects img {
        width: 100%;
        height: 100%;
    }

    .states-section .projects .pr-text {
        display: flex;
        align-items: center;
        padding: 20px;
    }

    .states-section .projects .pr-text h1 {
        font-size: 50px;
    }

    .states-section .hiring {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column-reverse;
    }

    .states-section .hiring .hr-text {
        padding: 20px;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 20px;
        justify-content: center;

    }

    .states-section .clients {
        width: 100%;
    }

    .states-section .clients .clients-text {
        padding: 20px;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 20px;
        justify-content: center;

    }

    /* customer section  */

    .customer-section {
        padding: 20px;
        min-height: 80vh;
    }

    .customer-section .cus-sec-text {
        flex-direction: column;
    }

    .customer-section .cus-sec-text .text-head {
        width: 100%;
        margin: 15px;
    }

    .customer-section .cus-sec-text .text-head h1 {
        font-size: 30px;
    }

    .customer-section .cus-sec-text .text-anchor a {
        font-size: 16px;
    }

    .customer-section .cus-sec-text .text-box {
        width: 100%;
        padding: 20px 20px;
    }

    .customer-section .cus-sec-text .text-box h2 {
        font-size: 25px;
    }

    .customer-section .cus-sec-award h1 {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .customer-section .cus-sec-award .awards {
        justify-content: center;
        flex-wrap: wrap;
        gap: 20px;
    }

    .customer-section .cus-sec-award .awards img {
        width: 43px;
        margin: 0px;
    }

    /* lets talk section  */

    .letsTalk {
        padding: 50px;
    }

    /* testimonial section  */

    .testimonial {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 50px 20px;
    }

    .tes-text {
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }

    .swiper,
    .mySwiper {
        width: 100%;
    }

    /* footer  */

    footer {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        color: white;
        font-family: neueHassDisplayThin;
        padding: 40px;
        gap: 120px;
    }

}


@media (max-width: 479px) {

    /* nav bar section  */
    .nav,
    .nav-close {
        padding: 20px 20px;
    }

    .menu-icon p {
        margin-right: 10px;
    }

    .menu img {
        width: 50px;
    }

    /* nav bar section  */

    .nav-line {
        height: 400px;
        margin-right: 10px;
    }

    .nav-content {
        padding: 10px;
    }

    .nav-buttons {
        width: 50%;
        padding: 0px;
    }

    .nav-btn-container {
        margin-bottom: 10px;
    }

    .nav-buttons .nav-btn {
        font-size: 30px;
    }

    .nav-buttons .active {
        color: white;
    }

    .nav-links ul li {
        margin-bottom: 10px;
    }

    .nav-links ul li a {
        font-size: 25px;
        margin-bottom: 10px;
    }

    .nav-contact {
        text-align: right;
        padding-right: 10px;
        margin-bottom: 10px;
    }

    /* hero section  */

    .content {
        text-align: center;
        margin: 0px;
        top: 50%;
        transform: translateY(-50%);
        bottom: auto;
    }

    .content h1 {
        font-size: 30px;
        margin-bottom: 30px;
    }

    .content p {
        font-size: 16px;
        margin-bottom: 30px;
    }

    .buttons {
        gap: 20px;
        flex-wrap: wrap;
        justify-content: center;
    }

    .Allbtn {
        width: 200px;
    }

    .buttons p {
        font-size: 10px;
        margin-bottom: 15px;
    }

    .buttons-two .btn-two-con {
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
    }

    .break .br-line {
        display: none;
    }

    /* marquee section  */

    .marquee h1 {
        color: white;
        font-family: neueHassDisplayMed;
        text-align: center;
        padding: 60px 0;
        font-size: 30px;
    }

    .elem .moving .move-in img,
    .elem .moving .move-in .elem-line {
        margin: 0 10px;
        display: inline-block;
    }

    /* cards container  */

    .cards {
        gap: 15px;
        padding: 15px;
        flex-wrap: wrap;
    }

    .card-gradient h2 {
        font-size: 30px;
    }

    .card {
        width: 100%;
        height: 450px;
    }

    /* video section  */

    .video-section {
        text-align: center;
        padding: 15px;
    }

    .video-section .heading {
        margin-bottom: 30px;
    }

    .video-section .heading span {
        font-size: 25px;
    }

    .video-section .heading img {
        width: 100px;
        height: 30px;
        margin-top: 5px;
    }

    .gradient-div {
        display: none;
    }

    /* sticky scroller section  */

    .sticky-scroller {
        display: flex;
        flex-direction: column;
        padding: 20px 20px;
    }

    .sticky-scroller .ss-left {
        width: 100%;
        height: 100%;
        position: static;
        text-align: center;
    }

    .sticky-scroller .ss-right {
        width: 100%;
    }

    .sticky-scroller .ss-left h1 {
        font-size: 30px;
        margin-top: 20px;
    }

    /* blue circle section  */

    .circles-section {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: static;
        padding: 20px;
    }

    .circles-section-text {
        width: 100%;
        text-align: center;
        padding-left: 0px;
        position: static;
    }

    .circles-section-text h1 {
        font-size: 30px;
        margin-bottom: 0px;
    }

    .circles-section-text p {
        font-family: neueHassDisplayThin;
        color: white;
        word-spacing: 1px;
        letter-spacing: 1px;
    }

    .circles {
        width: 100%;
        position: static;
        right: 0;
    }

    .circles img {
        width: 100%;
    }

    /* states section  */

    .states-section {
        width: 100%;
        flex-direction: column;
    }

    .states-section h1 {
        font-size: 50px;
    }

    .states-section p {
        font-size: 25px;
    }

    .states-section .projects {
        width: 100%;
    }

    .states-section .projects img {
        width: 100%;
        height: 100%;
    }

    .states-section .projects .pr-text {
        display: flex;
        align-items: center;
        padding: 20px;
    }

    .states-section .projects .pr-text h1 {
        font-size: 50px;
    }

    .states-section .hiring {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column-reverse;
    }

    .states-section .hiring .hr-text {
        padding: 20px;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 20px;
        justify-content: center;
    }

    .states-section .clients {
        width: 100%;
    }

    .states-section .clients .clients-text {
        padding: 20px;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 20px;
        justify-content: center;

    }

    /* customer section  */

    .customer-section {
        padding: 20px;
        min-height: 80vh;
    }

    .customer-section .cus-sec-text {
        flex-direction: column;
    }

    .customer-section .cus-sec-text .text-head {
        width: 100%;
        margin: 15px;
    }

    .customer-section .cus-sec-text .text-head h1 {
        font-size: 30px;
    }

    .customer-section .cus-sec-text .text-anchor a {
        font-size: 16px;
    }

    .customer-section .cus-sec-text .text-box {
        width: 100%;
        padding: 20px 20px;
    }

    .customer-section .cus-sec-text .text-box h2 {
        font-size: 25px;
    }

    .customer-section .cus-sec-award h1 {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .customer-section .cus-sec-award .awards {
        justify-content: center;
        flex-wrap: wrap;
        gap: 20px;
    }

    .customer-section .cus-sec-award .awards img {
        width: 43px;
        margin: 0px;
    }

    /* lets talk section  */

    .letsTalk {
        padding: 50px;
    }

    /* testimonial section  */

    .testimonial {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 50px 20px;
    }

    .tes-text {
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }

    .swiper,
    .mySwiper {
        width: 100%;
    }

    /* footer  */

    footer {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        color: white;
        font-family: neueHassDisplayThin;
        padding: 30px;
        gap: 20px;
    }

    .footer {
        text-align: center;
    }

    footer .rating {
        justify-content: center;
    }

}